<!DOCTYPE html>
<html class=''>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="chat-private.css">
</head>
<body>
<div class="topbar">
    <img src="images/logo.png" alt="">
</div>

<div class='container-md mainholder min-vh-100'>
    <div class='min-vh-100 d-flex justify-content-center align-content-center  mainholder'>
        <div class=' contacts-list min-vh-90'>
            <div class="own-info">
                <h1>Your name</h1>
            </div>

            <div class='person'>
                <p>Maelyn Pepe</p>
            </div>
            <div class='person'>
                <p>Michelle Pepe</p>
            </div>
            <div class='person'>
                <p>Amy Angular</p>
            </div>
            <div class='person'>
                <p>Jack Uniden</p>
            </div>
            <div class='person'>
                <p>Ben Marcus</p>
            </div>
        </div>
        <div class="chat_box">
            <div class="toolbar">
                <button>voice call</button>
                <button>video call</button>
            </div>
            <div class="realtime-messages"><p>John: hello</p>
                <p>Karam: hi</p></div>
            <form class="messagebox">

                <input type="text" placeholder="Type Message">
            </form>
        </div>
    </div>
</div>
</body>
</html>