<!DOCTYPE html>
<html lang="nl">
<link rel="stylesheet" href="font-awesome.min.css">
<link rel="stylesheet" href="register.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<body>
<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<div class="topbar">
    <img src="images/logo.png" alt="">
</div>

<!-- FORGOT PASSWORD FORM -->
<div class="MAINCONTAINER" style="padding:50px 0">
    <div class="logo">Password reset</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="forgot-password-form" class="text-left">
            <div class="etc-login-form">
                <p>Enter a new password for your account.</p>
            </div>
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="reg_password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="reg_password" name="reg_password"
                               placeholder="new password">
                    </div>
                    <div class="form-group">
                        <label for="reg_password_confirm" class="sr-only">Password Confirm</label>
                        <input type="password" class="form-control" id="reg_password_confirm"
                               name="reg_password_confirm" placeholder="confirm password">
                    </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            </div></form>
    </div>
    <!-- end:Main Form -->
</div>
<script src="jquery.min.js"></script>

</body>

</html>

