<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="../../../../DevTools/Xampp/htdocs/test/style.css">
    <link rel="stylesheet" href="../../../../DevTools/Xampp/htdocs/test/css/bootstrap.min.css">
    <script src="../../../../DevTools/Xampp/htdocs/test/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="../../../../DevTools/Xampp/htdocs/test/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm  navbar-dark" style="background-color:#181446">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-toggle"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-item active nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Register</a>
            <a class="nav-item nav-link" href="#">Login</a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-sm navbar-light py-0  px-lg-2" style="background-color: white;">
    <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
        <div class="navbar-nav second-bar">
            <a href="#"> <img src="../../../../DevTools/Xampp/htdocs/test/images/logo.png" width="100vw" height="60vh" class="nav-item d-inline-block align-top" alt=""></a>
            <a class="nav-item nav-link second-bar" href="#">Web & Mobile</a>
            <a class="nav-item nav-link second-bar" href="#">Video Calling</a>
            <a class="nav-item nav-link second-bar" href="#">Audio Calling</a>
            <a class="nav-item nav-link second-bar" href="#">Manual</a>
            <a class="nav-item nav-link second-bar" href="#">FAQ</a>
        </div>
    </div>
</nav>
<main>
    <section class="background-top">
        <img src="../../../../DevTools/Xampp/htdocs/test/images/BG-TABLE-TOP.jpg" width="100%" alt="">

    </section>
    <section class="main">


    </section>
</main>
<footer>


</footer>
</body>
</html>