<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="voicecall.css">
</head>
<body>
<div class="topbar">
    <img src="images/logo.png" alt="">
</div>
<div class="mainholder">
    <div class="phone-screen">
        <div class="callinfo">
            <p>Calling john</p>
            <p>ringing</p>
            <p>00:00</p>
        </div>
        <img src="images/BG-TABLE-TOP.jpg" width="180px" height="180px" alt="">
        <div class="toolbar">
            <button>mute</button>
            <button>end call</button>
        </div>
    </div>
</div>

</body>
</html>